<!--The content below is only a placeholder and can be replaced.-->
<header style="text-align:center">
  <h1>
    Welcome to Speech Recognition!
  </h1>
</header>
<main class="mdl-layout__content">
  <section class="section--center">
    <div class="mat-grid-list" cols="2" rowheight="2:1">
      <div class="mat-grid-tile">
        <ckeditor [editor]="Editor" [(ngModel)]="speechText"></ckeditor>
      </div>
      <div class="mat-grid-tile">
        <button mat-raised-button color="primary" (click)="onSpeechStart()">
          Speech to Text
        </button>
        <button mat-raised-button color="warn" (click)="onSpeechStop()">
          Stop
        </button>
      </div>
    </div>
  </section>
</main>
<router-outlet></router-outlet>
